<p>
  <button (click)="createNeeProduct()">Crear</button>
  <button (click)="onShowDetail('1654564')">Error Product</button>
</p>

<div class="products--grid">
  <app-product
    [product]="product"
    *ngFor="let product of products"
    (addedProduct)="onAddToShoppingCart($event)"
    (showProduct)="onShowDetail($event)"
  ></app-product>
  <button (click)="loadMore()">Cargar mas..</button>
</div>
<div class="product-detail" [class.active]="showProductDetail">
  {{ statusDetail }}
  <div *ngIf="productChosen">
    <button (click)="toogleProductDetail()">Cerrar</button>
    <h1>{{productChosen.title}}</h1>
    <swiper [slidesPerView]="1">
    <ng-template swiperSlide *ngFor="let imag of productChosen.images">
      <app-img [img]="imag"></app-img>
    </ng-template>
    </swiper>
    <p>{{productChosen.description}}</p>
    <button (click)="updateteProduct()">Editar</button>
    <button (click)="deleteProduct()">Eliminar</button>
  </div>
</div>
